{% extends 'base.html' %}
{% block title %}
  {{ pageName }}
{% endblock %}
{% block body %}
  <div class="container my-5">
    <h4>Add queries</h4>
    <form method="POST" action="/contact">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Name" />
        </div>
        <div class="form-group col-md-6">
          <label for="Email">Email</label>
          <input type="email" class="form-control" name="email" id="Email" placeholder="Email" />
        </div>
      </div>
      <div class="form-group">
        <label for="Phone">Phone</label>
        <input type="text" class="form-control" name="phone" id="Phone" placeholder="Phone" />
      </div>
      <div class="form-group">
        <label for="Message">Message</label>
        <textarea class="form-control" id="Message" name="message" placeholder="Message" ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">submit</button>
    </form>
  </div>
{% endblock %}
